.profile-dropdown {
    display: none; 
    position: absolute;
    background: #D9D9D9;
    top: 80px;
    width: 115px;
    height: 105px;
    z-index: 10;
}

.profile-dropdown div {
    padding: 10px 24px;
    width: 115px;
    height: 35px;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
}

.profile-user-img {
    cursor: pointer;
}
