:root {
    --color-background: #0A0F16;
    --color-primary: #FFB1CD;
    --color-secondary: #ccd0da;
    --color-secondary-accent: #8e9093;
    --color-accent: #f8679a;
    --color-text-light: #FFFFFF;
    --color-text-lighter: #ccd0da;
    --color-error: #f44336;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable";
    background-color: var(--color-background);
}

.container {
    padding-top: 1rem;
    padding-left: 1.62rem;
    padding-right: 1.62rem;
    color: var(--color-text-light);
}

header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    background-color: rgba(254, 168, 197, 0.9);
    color: var(--color-text-light);
    border-radius: 1.5rem;
    z-index: 1000;
    position: relative;
    box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header:hover {
    box-shadow: 0px 6px 16px rgba(255, 255, 255, 0.9);
    transform: translateY(-2px);
}

header p {
    font-family: "Jersey 10", serif;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 544px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:8px;
}

.profile-user-img{
    width: 36px;
    height: 36px;
    border-radius: 70%;
    overflow: hidden;
}

.profile-user-real-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-name{
    font-family: "Moirai One";
    font-size: 32px;
    font-weight: 700;
}

.arrow-wrap{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-prev {
    content: '';
    width: 10.93px;
    height: 10.93px;
    border-top: 2px solid var(--color-text-light);
    border-right: 2px solid var(--color-text-light);
    transform: rotate(225deg);
}

.arrow-prev:hover {
    transform: scale(1.2) rotate(225deg);
}

.header-name {
    letter-spacing: 3px;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
}

.header-name span.emoji{
    font-size: 30px;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.makepost-container{
    margin-top: 30px;
}

.info-title{
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: center;
}

.title-form{
    
}

.post-content{
    margin-top:51px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.line{
    border: 1px solid rgb(255,177,205,0.4);
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-group label {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 4px;
    text-align: left;
}

.input-title{
    display: flex;
    flex-direction: column;
    color: var(--color-text-light);
}

.input-form {
    width: 570px;
    height: 33px;
    padding: 24px 20px;
    border:none;
    font-family: "Pretendard";
    background-color: transparent;
    color: var(--color-text-light);
    font-size: 16px;
    font-weight: 700;
    line-height: 22.56px;
    text-align: left;    
}

.input-form::placeholder{
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.56px;
    text-align: left;
    color: var(--color-text-light);
}

.input-form:focus {outline: none;} 

.text-form{
    margin: 24px 24px;
    width: 570px;
    height: 299px;
    border: none;
    resize: none;
    background: transparent;

    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.15px;
    text-align: left;
    color: var(--color-text-light);
}

.text-form::placeholder{
    margin:0;
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: var(--color-text-light);
}

.text-form:focus{
    outline: none;
}

.image-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.part{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.image-group label{
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 4px;
    text-align: left;
}

.form-group .content-form {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 4px;
    text-align: left;
}

.image-group .image-form{
    display: inline-block;
    width: 68px;
    height: 29px;
    border-radius: 4px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    background: var(--color-secondary);
    text-align: center;
    cursor: pointer;
    color: var(--color-text-light);
}

.image-group .image-form:hover{
    background: var(--color-primary);
    color: var(--color-background);
}

.image-group .image-form.selected{
    background: var(--color-primary);
    color: var(--color-background);
}

.image-group input[type="file"]{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.info-file-input{
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
}

.submit{
    width: 355px;
    height: 33px;
    border-radius: 4px;
    background: var(--color-secondary);
    color: #FFFFFF;
    border: none;
    margin-top: 16px;

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    text-align: center;
}

.submit.active {
    background-color: var(--color-primary); /* 활성화 상태 */
    color: #fff;
    cursor: pointer;
}