* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable";
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.helper-text {
    color: #f44336;
    font-size: 12px;
    display: none;
}

header {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 592px;
    padding-right: 29px;
    padding-left: 196px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:8px;
}

.profile-user-img{
    width: 36px;
    height: 36px;
    border-radius: 70%;
    overflow: hidden;
}


.profile-user-real-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header-name{
    font-family: "Moirai One";
    font-size: 32px;
    font-weight: 700;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-edit-container{
    display: flex;
    margin-top: 161px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-content{
    text-align: center;
    font-family: Pretendard;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.19px;
}

.info-list-content{
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.password-form{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}

.passwordcheck-form{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}

.input-form{
    width: 355px;
    height: 33px;
    top: 633px;
    left: 783px;
    gap: 0px;
    border-radius: 4px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #000000;
    padding: 10px 8px;
    background: transparent;
}

.button-content{
    margin-top: 19px;
}

.edit-btn{
    width: 355px;
    height: 33px;
    border-radius: 4px;
    color:#FFFFFF;
    background: #ACA0EB;
    border:none;

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    text-align: center;
}
