:root {
    --color-background: #0A0F16;
    --color-primary: #FFB1CD;
    --color-secondary: #ccd0da;
    --color-secondary-accent: #8e9093;
    --color-accent: #f8679a;
    --color-text-light: #FFFFFF;
    --color-text-lighter: #ccd0da;
    --color-error: #f44336;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-text-light); /* 텍스트 색상 변경 */
    -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset; /* 배경색 덮어쓰기 */
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* 부드러운 전환 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable";
    background-color: var(--color-background);
}

.helper-text {
    color: var(--color-error);
    margin-top: 2px;
    font-size: 12px;
    display: none;
    width: 355px;
}

.container {
    padding-top: 1rem;
    padding-left: 1.62rem;
    padding-right: 1.62rem;
    text-align: center;
}

header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    background-color: rgba(254, 168, 197, 0.9);
    color: var(--color-text-light);
    border-radius: 1.5rem;
    z-index: 1000;
    position: relative;
    box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header:hover {
    box-shadow: 0px 6px 16px rgba(255, 255, 255, 0.9);
    transform: translateY(-2px);
}

header p {
    font-family: "Jersey 10", serif;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 592px;
    padding-right: 245px;
}

.arrow-wrap{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-prev {
    content: '';
    width: 10.93px; 
    height: 10.93px;
    border-top: 2px solid var(--color-text-light);
    border-right: 2px solid var(--color-text-light);
    transform: rotate(225deg);
}

.arrow-prev:hover {
    transform: scale(1.2) rotate(225deg);
}

.header-name {
    letter-spacing: 3px;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
}

.header-name span.emoji{
    font-size: 30px;
}

.join-container{
    display: flex;
    margin-top: 161px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-light);
}

.join-title{
    text-align: center;
    font-family: Pretendard;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.19px;
}

.profile-content{
    width: 335px;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: baseline; 
}

.info{
    text-align: left;
    gap: 4px;
}

.profile-img{
    font-family: Pretendard;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    width: 335px;
}

.image-profile-add-container{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 149px;
    height: 149px;
}

.circle {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 원 크기에 맞게 */
    border-radius: 50%; /* 원형 유지 */
    display: none; /* 업로드 전까지 숨김 */
}

.plus {
    font-weight: 100;
    font-size: 60px;
    color: #333;
}

#profilePreview{
    width: 100%;
    height: 100%;
    background-color:#C4C4C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-list-content{
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:19px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-group label {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 4px;
}

.form-group input {
    width: 355px;
    height: 33px;
    padding: 8px 10px;
    border: 1px solid var(--color-text-light);
    border-radius: 4px;
    font-family: "Pretendard";
    background-color: transparent;
    color: var(--color-text-light);
}

input::placeholder {
    color: var(--color-text-light);
    font-family: "Pretendard";
    font-weight: 400;
}

input:focus{
    outline: 3px solid var(--color-primary);
    border: none;
}


.join-btn {
    width: 355px;
    padding: 10px;
    background-color: var(--color-secondary) ;
    color: #fff;
    border: none;
    margin-top: 23px;
    border-radius: 4px;
    cursor: pointer;
}

.join-btn.active {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.actions {
    text-align: center;
    margin-top: 3px;
}

.login-btn {
    color: var(--color-text-light);
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

