* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable";
    background-color: #f5f5f5;
}

.helper-text {
    color: #f44336;
    font-size: 12px;
    display: none;
}

.container {
    text-align: center;
}

header {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 592px;
    padding-right: 196px;
    padding-left: 29px;
}

.arrow-wrap{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-prev {
    content: '';
    width: 10.93px; 
    height: 10.93px;
    border-top: 2px solid #000; 
    border-right: 2px solid #000;
    transform: rotate(225deg);
}

.header-name{
    font-family: "Moirai One";
    font-size: 32px;
    font-weight: 700;
}

.join-container{
    display: flex;
    margin-top: 161px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-title{
    text-align: center;
    font-family: Pretendard;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.19px;
}

.profile-content{
    width: 400px;
    padding: 12px 11px;
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: baseline; 
}

.info{
    text-align: left;
    gap: 4px;
}

.profile-img{
    font-family: Pretendard;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
}

.image-profile-add-container{
    width: 400px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 149px;
    height: 149px;
}

.circle {
    width: 100%;
    height: 100%;
    background-color:#C4C4C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    font-weight: 100;
    font-size: 60px;
    color: #333; /* Adjust color as needed */
}

#profilePreview{
    width: 100%;
    height: 100%;
    background-color:#C4C4C4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-list-content{
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap:19px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-group label {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 4px;
}

.form-group input {
    width: 355px;
    height: 33px;
    padding: 8px 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-family: "Pretendard";
    background-color: transparent;
}

input::placeholder {
    color: rgb(0, 0, 0);
    font-family: "Pretendard";
    font-weight: 400;
}

.join-btn {
    width: 355px;
    padding: 10px;
    background-color: #ACA0EB ;
    color: #fff;
    border: none;
    margin-top: 23px;
    border-radius: 4px;
    cursor: pointer;
}

.join-btn.active {
    background-color: #7F6AEE;
}

.actions {
    text-align: center;
    margin-top: 3px;
}

.login-btn {
    color: #000000;
    padding: 8px 12px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    cursor: pointer;
}