* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-board {
    font-family: "Pretendard Variable";
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 133px;
    width: 100%;
    padding-left: 6%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:8px;
}

.profile-user-img{
    width: 36px;
    height: 36px;
    border-radius: 70%;
    overflow: hidden;
}


.profile-user-real-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header-name {
    font-size: 32px; /* 기본 폰트 크기 */
    font-family: "Moirai One";
    font-weight: 700;
}

@media (max-width: 768px) { /* 태블릿 이하 */
    .header-name {
        font-size: 25px;
        font-family: "Moirai One";
        font-weight: 700;
    }
}

@media (max-width: 480px) { /* 모바일 화면 */
    .header-name {
        font-size: 15px;
        font-family: "Moirai One";
        font-weight: 700;
    }
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.board-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.info-board {
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
}

.button-part{
    width: 592px;
    height: 39px;
    display: flex;
    justify-content: right;
}

.create-post-btn {
    background-color: #ACA0EB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 138px;
    height: 39px;
}

.create-post-btn {
    background-color: #ACA0EB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 138px;
    height: 39px;
    transition: background-color 0.3s ease;
}

.create-post-btn:hover {
    background-color: #7F6AEE;
}

.border-line {
    border: 1px solid rgba(0, 0, 0, 0.16); 
}

.writer-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 18px 24px;
}

.writer-info{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 19.5px;
}

.post-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom:20px;
}

.post-item {
    background-color: #fff;
    width: 592px;
    height: 169px;
    border-radius: 8px;
    box-shadow: 3px 4px 4px 0px #CCCCCC40;
}

.post-header{
    display: flex;
    flex-direction: column;
    margin: 18px 24px;
    gap: 10px;
}

.post-title{
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 24px;
    align-self: first baseline;
}

.info-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-info{
    display: flex;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 14px;
    gap: 10px;
}

.post-date{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 14px;
}


.post-content {
    color: #555;
}
