* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable";
    background-color: #f5f5f5;
}

header {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 544px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:8px;
}

.profile-user-img{
    width: 36px;
    height: 36px;
    border-radius: 70%;
    overflow: hidden;
}

.profile-user-real-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-name{
    font-family: "Moirai One";
    font-size: 32px;
    font-weight: 700;
}

.arrow-wrap{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-prev {
    content: '';
    width: 10.93px; 
    height: 10.93px;
    border-top: 2px solid #000; 
    border-right: 2px solid #000;
    transform: rotate(225deg);
}

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.editpost-container{
    margin-top: 24px;
}

.info-title{
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: center;
}

.post-content{
    margin-top:51px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.line{
    border: 1px solid rgba(0, 0, 0, 0.16); 
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-group label {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 4px;
    text-align: left;
}

.input-title{
    display: flex;
    flex-direction: column;
}

.input-form {
    width: 570px;
    height: 33px;
    padding: 24px 20px;
    border:none;
    font-family: "Pretendard";
    background-color: transparent;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.56px;
    text-align: left;
}

.input-form::placeholder{
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.56px;
    text-align: left;
}

.input-form:focus {outline: none;} 

.text-form{
    margin: 24px 24px;
    width: 570px;
    height: 299px;
    border: none;
    resize: none;
    background: transparent;

    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.15px;
    text-align: left;
}

.text-form::placeholder{
    margin:0;
    color: #838486;
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.text-form:focus{
    outline: none;
}

.image-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.part{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.image-group label{
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 4px;
    text-align: left;
}

.form-group .content-form {
    font-family: "Pretendard";
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 4px;
    text-align: left;
}

.image-group .image-form{
    display: inline-block;
    width: 68px;
    height: 29px;
    border-radius: 4px;
    border: 1px solid #000000;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    background: #D9D9D9;
    text-align: center;
    cursor: pointer;
}


.image-group input[type="file"]{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.info-file-input{
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
}

.submit{
    width: 355px;
    height: 33px;
    border-radius: 4px;
    background: #ACA0EB;
    color: #FFFFFF;
    border: none;
    margin-top: 16px;

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    text-align: center;
}