* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable";
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.helper-text {
    color: #f44336;
    font-size: 12px;
    display: none;
}

header {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 592px;
    padding-right: 29px;
    padding-left: 196px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:8px;
}

.profile-user-img{
    width: 36px;
    height: 36px;
    border-radius: 70%;
    overflow: hidden;
}


.profile-user-real-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header-name{
    font-family: "Moirai One";
    font-size: 32px;
    font-weight: 700;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-edit-container{
    display: flex;
    margin-top: 161px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-content{
    text-align: center;
    font-family: Pretendard;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.19px;
}

.profile-content{
    width: 400px;
    padding: 12px 11px;
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: baseline; 
}

.info{
    text-align: left;
    gap: 4px;
}

.profile-img-info{
    font-family: Pretendard;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
}

.image-profile-edit-container{
    width: 400px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img{
    position: relative;
    width: 149px;
    height: 149px;
    border-radius: 70%;
    overflow: hidden;
}

.profile-edit-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.profile-img:hover .profile-edit-img {
    opacity: 0.7; 
    filter: brightness(0.6); 
}

.edit-profile-content{
    background-color: transparent;
    width: 52px;
    height: 27px;
    border-radius: 25px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    color:#FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-img:hover .edit-profile-content {
    opacity: 1;
}

.info-list-content{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.email-form{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}

.email-info{
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
}

.nickname-form{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}

.input-form{
    width: 355px;
    height: 33px;
    top: 633px;
    left: 783px;
    gap: 0px;
    border-radius: 4px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #000000;
    padding: 10px 8px;
    background: transparent;
}

.button-content{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap:12px;
}

.edit-btn{
    width: 355px;
    height: 33px;
    border-radius: 4px;
    color:#FFFFFF;
    background: #ACA0EB;
    border:none;

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    text-align: center;
}

.edit-btn:hover{
    background:#7F6AEE;
}

.leave-btn{
    background: transparent;
    border: none;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: center;
}

.modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검정 배경 */
    z-index: 999; 
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;   
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 408px;
    height: 242px;
    border-radius: 12px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-account{
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.64px;
    text-align: center;
}

.info-deleted{
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
}

.button-set{
    display: flex;
    flex-direction: row;
    gap:16px;
}

.cancel-button{
    width: 127px;
    height: 44px;
    border-radius: 12px;
    background: #242424;

    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    color: #FFFFFF;
}

.confirm-button{
    width: 127px;
    height: 44px;
    border-radius: 12px;
    background: #C4A5FA;

    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    color: #000000;
    border: none;
}

#toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.toast-message {
    width: 102px;
    height: 46px;
    border-radius: 30px;
    opacity: 0px;
    background: #ACA0EB;
    color: #FFFFFF;

    border: none;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.01em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
