:root {
    --color-background: #0A0F16;
    --color-primary: #FFB1CD;
    --color-secondary: #ccd0da;
    --color-secondary-accent: #8e9093;
    --color-accent: #f8679a;
    --color-text-light: #FFFFFF;
    --color-text-lighter: #ccd0da;
    --color-error: #f44336;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-text-light); /* 텍스트 색상 변경 */
    -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset; /* 배경색 덮어쓰기 */
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* 부드러운 전환 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable";
    background-color: var(--color-background);
}

.container {
    padding-top: 1rem;
    padding-left: 1.62rem;
    padding-right: 1.62rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
}

.helper-text {
    color: #f44336;
    font-size: 12px;
    text-align: left;
    display: none;
}

header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    background-color: rgba(254, 168, 197, 0.9);
    color: var(--color-text-light);
    border-radius: 1.5rem;
    z-index: 1000;
    position: relative;
    box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header:hover {
    box-shadow: 0px 6px 16px rgba(255, 255, 255, 0.9);
    transform: translateY(-2px);
}

header p {
    font-family: "Jersey 10", serif;
}

.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 544px;
}

.arrow-wrap{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-prev {
    content: '';
    width: 10.93px;
    height: 10.93px;
    border-top: 2px solid var(--color-text-light);
    border-right: 2px solid var(--color-text-light);
    transform: rotate(225deg);
}

.arrow-prev:hover {
    transform: scale(1.2) rotate(225deg);
}

.header-name {
    letter-spacing: 3px;
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
}

.header-name span.emoji{
    font-size: 30px;
}


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:8px;
}

.profile-user-img{
    width: 36px;
    height: 36px;
    border-radius: 70%;
    overflow: hidden;
}


.profile-user-real-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-edit-container{
    display: flex;
    margin-top: 161px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-content{
    text-align: center;
    font-family: Pretendard;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.19px;
}

.profile-content{
    width: 400px;
    padding: 12px 11px;
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: baseline; 
}

.info{
    text-align: left;
    gap: 4px;
}

.profile-img-info{
    margin-top: 20px;
    font-family: Pretendard;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
}

.image-profile-edit-container{
    width: 400px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img{
    position: relative;
    width: 149px;
    height: 149px;
    border-radius: 70%;
    overflow: hidden;
}

.profile-edit-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.profile-img:hover .profile-edit-img {
    opacity: 0.7; 
    filter: brightness(0.6); 
}

.edit-profile-content{
    background-color: transparent;
    width: 52px;
    height: 27px;
    border-radius: 25px;
    border: 1px;
    opacity: 0px;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: var(--color-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-img:hover .edit-profile-content {
    opacity: 1;
}

.info-list-content{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.email-form{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}

.email-info{
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
}

.nickname-form{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
}

.input-form{
    width: 355px;
    height: 33px;
    top: 633px;
    left: 783px;
    gap: 0px;
    border-radius: 4px;
    border: 1px;
    opacity: 0px;
    border: 1px solid var(--color-text-light);
    padding: 10px 8px;
    background: transparent;
    color: var(--color-text-light);
    font-weight: 500;
}

.input-form:focus{
    outline: 3px solid var(--color-primary);
    border: none;
}

.button-content{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap:12px;
}

.edit-btn{
    width: 355px;
    height: 33px;
    border-radius: 4px;
    color:#FFFFFF;
    background: var(--color-secondary);
    border:none;

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    text-align: center;
}

.edit-btn.active{
    background: var(--color-primary);
}

.leave-btn{
    background: transparent;
    border: none;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: center;
    color: var(--color-text-light);
}

.modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검정 배경 */
    z-index: 999; 
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;   
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 408px;
    height: 242px;
    border-radius: 12px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-account{
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.64px;
    text-align: center;
}

.info-deleted{
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
}

.button-set{
    display: flex;
    flex-direction: row;
    gap:16px;
}

.cancel-button{
    width: 127px;
    height: 44px;
    border-radius: 12px;
    background: #242424;

    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    color: #FFFFFF;
}

.confirm-button{
    width: 127px;
    height: 44px;
    border-radius: 12px;
    background: var(--color-primary);

    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    color: #000000;
    border: none;
}

#toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.toast-message {
    width: 102px;
    height: 46px;
    border-radius: 30px;
    opacity: 0px;
    background: var(--color-primary);
    color: #FFFFFF;

    border: none;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.01em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
